@charset "utf-8";

#header {position:fixed;left:0;top:0;overflow:hidden;width:100%;height:128px;padding-top:40px;border-bottom:1px solid #dfe3e6;box-sizing:border-box;background:#fff;z-index:1000;}
#header::before {content:'';display:none;position:fixed;left:0;top:128px;width:100%;height:1px;background:#e0e3e6;z-index:1001;}
#header header {position:relative;width:100%;max-width:1500px;height:85px;margin:0 auto;box-sizing:border-box;padding:0 30px;}
header .logo {display:inline-block;position:absolute;left:30px;top:15px;}
header .logo a {display:block;}
header .logo_dream {position:absolute;left:30px;top:-27px;z-index:1102;}
header .logo_dream a {display:block;}
header .logo a>span {display:none;}
header .logo a img {vertical-align:top;}
header .gnb_util {position:absolute;right:30px;top:28px;font-size:0;white-space:nowrap;}
header .gnb_util>button,
header .gnb_util>a {display:inline-block;overflow:hidden;margin-left:18px;box-sizing:border-box;background-repeat:no-repeat;background-position:center;text-align:left;text-indent:-999px;vertical-align:top;}
header .gnb_util .btn_search {width:25px;height:24px;margin-top:9px;background:url(../img/layout/layout_sprite.png) no-repeat -145px -334px;;}
header .gnb_util .btn_mypage {width:40px;height:40px;border-radius:50%;background:url(../img/layout/layout_sprite.png) no-repeat -182px -326px}
header .gnb_util .btn_interestInfo {width:25px;height:22px;margin-top:9px;background:url(../img/layout/layout_sprite.png) no-repeat;}
header .gnb_util .btn_sitemap {width:24px;height:24px;margin-top:9px;background:url(../img/layout/layout_sprite.png) no-repeat -225px -94px;}
header .gnb_util>button>span,
header .gnb_util>a>span {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}

header .gnb_util .totalSearchArea {position:relative;display:inline-block;width:260px;height:40px;border-bottom:1px solid #000;vertical-align:top;clear:both;}
header .gnb_util .totalSearchArea .btn_search>span {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}
header .gnb_util .totalSearchArea>input {float:left;width:calc(100% - 120px);height:40px;margin-left:75px;padding:0 10px;border:none;font-size:15px;}
header .gnb_util .totalSearchArea .search_opt {position:absolute;left:0;top:3px;width:75px;height:40px;}
header .gnb_util .totalSearchArea .search_opt>button {position:relative;display:inline-block;width:100%;padding-right:20px;font-size:15px;letter-spacing:-0.5px;line-height:35px;vertical-align:top;text-align:left;}
header .gnb_util .totalSearchArea .search_opt>button:before {content:'';position:absolute;right:0;top:50%;display:block;width:8px;height:4px;margin-top:-2px;background: url(../img/layout/layout_sprite.png) no-repeat -430px -397px;}
header .top_util {position:absolute;right:0;top:-23px;width:100%;height:40px;box-sizing:border-box;padding:0px 30px 0 30px;font-size:0;text-align:right;z-index:1101;transition:0.2s;}
header .gnb_util .totalSearchArea .search_opt>ul {display:none;position:fixed;width:104px;margin-top:-46px;margin-left:-17px;padding:15px 11px 5px 16px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);z-index:1002}
header .gnb_util .totalSearchArea .search_opt.on>ul {display:block;}
header .gnb_util .totalSearchArea .search_opt>ul>li {width:100%;padding-bottom:10px;;box-sizing:border-box;z-index:10;}
header .gnb_util .totalSearchArea .search_opt>ul>li>button {display:block;width:100%;height:100%;font-size:15px;letter-spacing:-0.5px;text-align:left;}
header .gnb_util .totalSearchArea .search_opt>ul>li:first-child {background:url(../img/layout/searchBox_arrB.png) no-repeat right 0 top 11px}
header .gnb_util .totalSearchArea .search_opt>ul>li>button:hover {color:#4286ea;}
header .top_util>a,
header .top_util>button,
header .top_util>div>a,
header .top_util>div>button {display:inline-block;position:relative;overflow:hidden;height:20px;box-sizing:border-box;color:#0f0f0f;font-size:15px;font-weight:400;line-height:23px;text-align:left;vertical-align:top;}
header .top_util>a>span {display:block;line-height:20px;}
header .top_util>a {margin-right:15px;padding-right:17px;}
header .top_util>a::after {content:'';display:block;position:absolute;right:0;top:4px;width:1px;height:13px;background:#d2d2d2}
header .top_util>a:last-child {margin-right:0;padding-right:0;}
header .top_util>a:last-child::after {display:none;}
header .top_util>a:nth-child(2) {margin-right:0;}
header .top_util>a:nth-child(2)::after {display:none;}
header .top_util>div {display:inline-block;vertical-align:top;}
header .top_util .btn_topMoreSite {padding-right:25px;background:url(../img/layout/ico_cirArrB_blue_Rotate.png) no-repeat right 1px center;color:#4286ea;font-weight:500;letter-spacing:-0.5px;}
header .top_util .topMoreSite {position:relative;}
header .top_util .topMoreSite .listBox {display:none;position:absolute;left:50%;top:-8px;overflow:hidden;width:80px;margin-left:-40px;box-sizing:border-box;padding:8px 15px;border:1px solid #dbdee1;border-radius:9px;background:#fff;z-index:1101;}
header .top_util .topMoreSite .listBox.on {display:block;}
header .top_util .topMoreSite .listBox li {display:block;margin-bottom:7px;padding-left:1px;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;font-weight:400;line-height:19px;text-align:left;}
header .top_util .topMoreSite .listBox li:last-child {margin-bottom:0;}
header .top_util .topMoreSite .listBox li>a.on {display:block;background:url(../img/layout/ico_dotArrT_gray.png) no-repeat right center;}
header .top_util .btn_goDream {position:relative;display:inline-block;width:174px;height:38px;margin-top:-7px;box-sizing:border-box;border:1px solid #4286ea;background:#fff;border-radius:50px;text-align:center;transition:.2s all;}
header .top_util .btn_goDream>span {position:relative;display:inline-block;width:auto;height:auto;margin:0;padding-left:31px;font-size:15px;font-weight:500;color:#4286ea;line-height:38px;transition:.2s all;vertical-align:top;}
header .top_util .btn_goDream>span:before {content:'';position:absolute;left:6px;top:50%;display:block;width:21px;height:19px;margin-top:-9.5px;background: url(../img/layout/layout_sprite.png) no-repeat -320px -334px;}

/* #header.kotraSiteOn header .logo {opacity:0;} */
header .top_util .btn_kotraSite {padding-left:0px;margin-right:25px;}
header .top_util .btn_kotraSite.on {background:#fff;}
header .top_util .btn_kotraSite.on:after {content:'';display:block;position:absolute;width:15px;height:100%;background:#fff;right:-15px;top:0;}
header .top_util .btn_kotraSite.on:before {display:none;}
header .top_util .btn_kotraSite>span {display:block;padding-right:17px;background:url(../img/layout/btn_topSite_arrB.png) no-repeat right 0 top 50%;font-size:15px;font-weight:500;line-height:20px;}
/* header .top_util .btn_kotraSite.on>span {background-image:url(../img/layout/btn_topSite_arrT.png)} */
header .top_util .moreSiteArea {display:none;position:fixed;left:0;top:58px;width:100%;border-top:1px solid #dfe3e6;box-shadow:0 5px 15px -14px #999;background:#fff;z-index:1500;}
header .top_util .moreSiteArea.on {display:block;}
header .top_util .btn_kotraSite.on+.moreSiteArea {display:block;}
header .top_util .moreSiteArea .area_inner {position:relative;width:100%;max-width:1500px;margin:0 auto;box-sizing:border-box;padding:25px 30px 20px 30px;font-size:0;text-align:left;}
header .top_util .moreSiteArea ul {padding:0 110px;margin-top:-10px;box-sizing:border-box;font-size:0;}
header .top_util .moreSiteArea ul li {display:inline-block;width:16.666%;margin-top:10px;padding:0 10px;box-sizing:border-box;vertical-align:top;}
header .top_util .moreSiteArea ul li>a {display:block;}
header .top_util .moreSiteArea .btn_close {position:absolute;bottom:20px;right:30px;width:17px;height:17px;background:url(../img/layout/btn_topSite_close.png) no-repeat center;}
header .top_util .moreSiteArea .btn_close>span {position:absolute;top:160px;right:45px;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}

header nav {height:85px;}

.mBtn_topMenu,
.mBtn_close,
.mMenu_menuSearch {display:none;}

.m_searchResult {display:none;}

header>nav #gnb {overflow:hidden;padding:35px 335px 0 190px;font-size:0;text-align:center}


/*1depth*/
header>nav #gnb>li {display:inline-block;overflow:hidden;padding:0 2.3%;vertical-align:top;}
header>nav #gnb>li>a {display:block;overflow:hidden;color:#0f0f0f;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:24px;font-weight:500;line-height:28px;}
header>nav #gnb>li .gnbTit {display:none;position:absolute;left:50%;top:88px;width:220px;height:0;margin-left:-1290px;padding:56px 40px 0 570px;background:#ecf2f6;}
header>nav #gnb>li.child .gnbTit.act {display:block;}
header>nav #gnb>li .gnbTit>b {display:block;position:relative;margin-bottom:12px;color:#131b27;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:24px;font-weight:400;line-height:28px;text-align:left;}
header>nav #gnb>li .gnbTit>span {display:block;position:relative;margin-bottom:24px;color:#777;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;font-weight:400;line-height:24px;text-align:left;}
header>nav #gnb>li .gnbTit>a {display:inline-block;overflow:hidden;height:35px;box-sizing:border-box;padding:0 19px;border-radius:2px;background:#212e4e;color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;font-weight:400;line-height:36px;}

.typeTopNotice header>nav #gnb>li .gnbTit {top:87px;}

/*gnb 2depth*/
header>nav #gnb ul.menuM {display:none;position:absolute;left:50%;top:85px;overflow:hidden;width:100%;max-width:1150px;box-sizing:border-box;margin-left:-460px;padding:30px 60px 35px;font-size:0;}
header>nav #gnb ul.menuM.on,
header>nav #gnb ul.menuM.act {display:block;}
header>nav #gnb ul.menuM>li {display:block;position:relative;float:left;width:20%;min-height:42px;margin-bottom:30px;box-sizing:border-box;text-align:left;}
header>nav #gnb ul.menuM>li.emptyArea {display:none;}
header>nav #gnb ul.menuM>li>a {display:inline-block;position:relative;height:21px;box-sizing:border-box;vertical-align:top;font-size:17px;font-weight:500;}
header>nav #gnb ul.menuM>li>a>span {display:block;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:17px;font-weight:500;line-height:21px;text-align:left;letter-spacing:-1px;}
header>nav #gnb ul.menuM>li>a .step_t {display:none;position:relative;left:0;bottom:21px;height:42px;padding-right:10px;vertical-align:bottom;}
header>nav #gnb ul.menuM>li:hover>a>span,
header>nav #gnb ul.menuM>li.on>a>span,
header>nav #gnb ul.menuM>li.act>a>span {color:#4286ea;}
header>nav #gnb ul.menuM>li:hover>a,
header>nav #gnb ul.menuM>li.on>a,
header>nav #gnb ul.menuM>li.act>a {color:#4286ea;}
header>nav #gnb ul.menuM>li>a+ul {margin-top:20px;}
header>nav #gnb ul.menuStep>li {position:relative;}
header>nav #gnb ul.menuStep>li::before {content:'';display:block;position:absolute;left:0;top:33px;width:calc(100% - 7px);height:2px;background:#8366d0;}
header>nav #gnb ul.menuStep>li::after {content:'';display:block;position:absolute;right:5px;top:26px;width:10px;height:16px;background:url(../img/layout/gnb_stepArrR.png) no-repeat right top;}
header>nav #gnb ul.menuStep>li:last-child::after {display:none}
header>nav #gnb ul.menuStep>li>a .menuM_t {display:none;}
header>nav #gnb ul.menuStep>li>a .step_t {display:table-cell;}
header>nav #gnb ul.menuStep>li>a+ul {margin-top:37px;}

/*gnb 3depth*/
header>nav #gnb ul.menuS {overflow:hidden;}
header>nav #gnb ul.menuS>li {position:relative;padding-left:9px;}
header>nav #gnb ul.menuS>li+li {margin-top:15px;}
header>nav #gnb ul.menuS>li::before {content:'';display:block;position:absolute;left:0;top:6px;width:3px;height:3px;box-sizing:border-box;border-radius:50%;background:#666;transition:0.2s;}
header>nav #gnb ul.menuS>li:hover::before,
header>nav #gnb ul.menuS>li.on::before,
header>nav #gnb ul.menuS>li.act::before {background:#4286ea;}
header>nav #gnb ul.menuS>li>a {display:block;position:relative;color:#666;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;font-weight:400;line-height:19px;text-align:left;letter-spacing:-1px;transition:0.2s;}
header>nav #gnb ul.menuS>li>a:hover,
header>nav #gnb ul.menuS>li.on>a {color:#4286ea !important;font-weight:500;text-decoration:underline;}

/* header>nav #gnb .emptyArea {display:none} */

/*gnb 4depth*/
header>nav #gnb ul.menuSS {display:none;}
/*gnb 공통*/
header>nav #gnb a,
header>nav #gnb .menuM_t {transition:0.2s;}

#header.gnbOn {border-bottom:none;transition:0.2s;}
#header.gnbOn::before,
#header.sticky::before {display:block;}

#header.gnbOn header {overflow:visible;height:100%;}

#header.gnbOn:after {content:'';display:block;position:absolute;left:0;top:128px;width:10%;height:100%;background:#ecf2f6;z-index:-1;}

/* 사이트맵 */
.sitemapBox .map_gnb>li:first-child {margin-left:0;}
.sitemapBox .map_gnb>li {width:auto !important;margin-left:70px;}
.sitemapBox .map_gnb>li:nth-child(7) {margin-left:0;}
.sitemapBox .map_gnb>li>a {font-size:25px !important;}

/* 자동완성 */

.gnb_autoCompleteArea {display:none;position:fixed;top:57px;width:100%;max-width:260px;margin-top:52px;padding:15px 20px;box-sizing:border-box;background:#fff;z-index:99;border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-shadow:0 5px 20px -10px rgb(0 0 0 / 39%)}
.gnb_autoCompleteArea.on {display:block;}
.gnb_autoCompleteArea>ul>li {padding:3px 0;text-align:left;transition:.1s all;}
.gnb_autoCompleteArea>ul>li button {display:block;width:100%;height:100%;text-align:left;letter-spacing:-.5px;transition:.3s all;font-size:15px;}
.gnb_autoCompleteArea>ul>li:hover button {color:#4286ea;}
.typeTopNotice .gnb_autoCompleteArea {top:127px;}

/* As-is 소스 (탑배너 더보기) */
div.new_header_19{position:absolute;left:10px;top:-9px;}
div.new_header_19 > div{margin:0 auto;box-sizing:border-box;}
div.new_header_19 a{display:inline-block;vertical-align:top;}
div.new_header_19 .fL a{margin:2px 9px 0;}
div.new_header_19 .fL img{height:26px;}
div.new_header_19 .fL button.btn_more{margin:0 0 0 5px;padding:0 8px;width:auto;height:29px;border:1px solid #c2c2c2;border-radius:2px;box-sizing:border-box;}/* 191107 수정 */
div.new_header_19 .fL button.btn_more span{position:relative;display:inline-block;padding-right:15px;font-weight:500;font-size:12px;color:#737373;}
div.new_header_19 .fL button.btn_more span:before {content:'';position:absolute;right:1px;top:4px;display:block;width:10px;height:10px;background: url(../img/layout/layout_sprite.png) no-repeat -284px -422px;}
div.new_header_19 .pop_home {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #0092e0;
    background: #efefef;
    z-index: 200;
}
div.new_header_19 .pop_home h3 {
    margin: 0 6px;
    padding: 10px 0;
    max-width: 172px;
	width:100%;
    text-align: center;
    font-size: 17px;
}

div.new_header_19 > div {
    position: relative;
    margin: 0 auto;
    padding: 0px 10px 0;
    box-sizing: border-box;
}
div.new_header_19 .home_box {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
	width:100%;
}
div.new_header_19 .home_box a {width:100%;text-align:center;}
div.new_header_19 .home_box > div {
    padding: 10px 0;
	text-align:left;
}
div.new_header_19 h3 {
    display: inline-block;
    position: relative;
    padding: 0 25px 0 17px;
    vertical-align: top;
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    color: #0f0f0f;
}
div.new_header_19 .home_box p {
    display: inline-block;
    position: relative;
    margin: 10px 6px;
    width: 172px;
    height: 40px;
    vertical-align: top;
	text-align:center;
}
div.new_header_19 .home_box .btn_close {
    position: absolute;
    top: 5px;
    right: 0;
    width: 63px;
    height: 30px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
}
div.new_header_19 .home_box .btn_close span {
    display: inline-block;
    padding-right: 18px;
    font-weight: 500;
    font-size: 12px;
    color: #737373;
    background: url(../img/layout/btn_t_close.png) right center no-repeat;
    line-height:30px;
}
div.new_header_19 .home_box a.btn_o strong {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight:500;
}

/*사이트맵*/
.sitemapBox { display:none;position:fixed;top:0;right:-1090px;z-index:1200;width:100%;max-width:1080px;height:100%;}
.sitemapBox.on { display:block;right:0;}
.sitemapBox .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapBox .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../img/common/sprite_component.png) no-repeat  -259px -63px;text-indent:-999px;}
.sitemapBox .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapBox .box_ct { overflow:hidden;box-sizing:border-box;padding:56px 70px;}
.sitemapBox .map_gnb { overflow:hidden;margin-top:-20px;margin-bottom:30px;}
.sitemapBox .map_gnb>li { float:left;width:20%;margin-top:20px;}
.sitemapBox .map_gnb>li>a { display:inline-block;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:40px;font-weight:700;transition:.2s all;vertical-align:top;}
.sitemapBox .map_gnb>li>a:hover { color:#1c75f7;}
.sitemapBox .map_gnb>li>a.on { color:#1c75f7;}
.sitemapBox .map_nav { overflow-x:hidden;overflow-y:auto;}
.sitemapBox #sitemap { overflow:hidden;}
.sitemapBox #sitemap>li { width:100%;margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #e5e5e5;}
.sitemapBox #sitemap>li:last-child { margin:0;padding:0;border-bottom:none;}
.sitemapBox #sitemap .menuM { font-size:0;}
.sitemapBox #sitemap .menuM>li { display:inline-table;width:20%;vertical-align:top;}
.sitemapBox #sitemap .menuM>li:nth-child(n+6) { margin-top:30px;}
.sitemapBox #sitemap .menuM>li>a { display:inline-block;margin-bottom:24px;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;line-height:22px;transition:.3s all;vertical-align:top;}
.sitemapBox #sitemap .menuM.menuStep>li>a { color:#146ff5;transition:.2s all;}
.sitemapBox #sitemap .menuM.menuStep>li>a:hover { font-weight:700;}
.sitemapBox #sitemap .menuS>li { position:relative;padding-left:10px;}
.sitemapBox #sitemap .menuS>li::before { display:block;overflow:hidden;position:absolute;top:7px;left:0;box-sizing:border-box;width:3px;height:3px;border-radius:50%;background:#000;content:'';}
.sitemapBox #sitemap .menuS>li>a { display:inline-block;margin-bottom:17px;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;line-height:19px;transition:.2s all;vertical-align:top;}
.sitemapBox #sitemap .menuS>li>a:hover { font-weight:700;}
.sitemapBox #sitemap .menuSS { padding-bottom:6px;}
.sitemapBox #sitemap .menuSS>li { position:relative;margin-bottom:1px;padding-left:7px;}
.sitemapBox #sitemap .menuSS>li::before { display:block;overflow:hidden;position:absolute;top:9px;left:0;box-sizing:border-box;width:4px;height:1px;background:#929292;content:'';}
.sitemapBox #sitemap .menuSS>li>a { display:inline-block;margin-bottom:1px;color:#888;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:14px;line-height:16px;transition:.2s all;vertical-align:top;}
.sitemapBox #sitemap .menuSS>li>a:hover { font-weight:700;}
.sitemapBox #sitemap a:hover { text-decoration:underline;}
.sitemapBox.off { animation:siteBoxAni_off 0.2s forwards ease-out;}
.sitemapBox.on { animation:siteBoxAni_on 0.4s forwards ease-out;}

.sitemapBox_reN { display:none;position:fixed;top:0;right:-910px;z-index:3000;width:100%;max-width:900px;height:100%;background:#fff;}
.sitemapBox_reN.on { display:block;right:0;}
.sitemapBox_reN .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapBox_reN .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../../dream/img/layout/reN/layout_sprite.png) no-repeat -304px -505px;}
.sitemapBox_reN .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapBox_reN .box_ct { overflow:hidden;box-sizing:border-box;}
.sitemapBox_reN .map_nav { max-height:calc(100vh - 100px);overflow-y:auto;}
.sitemapBox_reN .map_gnb { box-sizing:border-box;width:100%;height:80px;padding:0px 50px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);font-size:0;}
.sitemapBox_reN .map_gnb>li { display:inline-block;position:relative;box-sizing:border-box;height:100%;padding:25px 0;vertical-align:top;}
.sitemapBox_reN .map_gnb>li>a { display:block;position:relative;height:100%;color:rgba(255,255,255,0.6);font-size:22px;font-weight:500;transition:.2s all;}
.sitemapBox_reN .map_gnb>li>a.on:before { display:block;position:absolute;bottom: -25px;left: 50%;width: 0;height: 0;margin-left: -7.5px;border-width: 0 7.5px 8px 7.5px;border-style: solid;border-color: transparent transparent #ffffff transparent;content:'';}
.sitemapBox_reN .map_gnb>li>a:hover,
.sitemapBox_reN .map_gnb>li>a.on  { color:#fff;}
.sitemapBox_reN .map_gnb>li+li { margin-left:70px;}
.sitemapBox_reN #sitemap { position:relative;margin-top:-10px;}
.sitemapBox_reN #sitemap>li { position:relative;}
.sitemapBox_reN #sitemap>li>a { overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;clip:rect(0, 0, 0, 0);}
.sitemapBox_reN #sitemap .menuM>li { margin-top:10px;}
.sitemapBox_reN #sitemap .menuM>li>a { display:block;box-sizing:border-box;width:100%;padding:10px 50px;background:#eff6fd;color:#222;font-size:18px;font-weight:700;}
.sitemapBox_reN #sitemap .menuS { margin-top:-25px;padding:30px 50px;font-size:0;}
.sitemapBox_reN #sitemap .menuS>li { display:inline-block;width:25%;margin-top:25px;vertical-align:top;}
.sitemapBox_reN #sitemap .menuS>li>a { color:#222;font-size:17px;font-weight:500;transition:.2s all;}
.sitemapBox_reN #sitemap .menuS>li>a:hover { color:#4286eb;}
.sitemapBox_reN #sitemap .menuSS { margin-top:5px;}
.sitemapBox_reN #sitemap .menuSS>li>a { position:relative;padding-left:8px;color:#777;transition:.2s all;}
.sitemapBox_reN #sitemap .menuSS>li>a:hover { color:#4286eb;}
.sitemapBox_reN #sitemap .menuSS>li>a:before  { display:block;position:absolute;top:7px;left:0;width:2px;height:2px;background:#777;transition:.2s all;content:'';}
.sitemapBox_reN #sitemap .menuSS>li>a:hover:before  { background:#4286eb;}
.sitemapBox_reN #sitemap .menuSS>li+li { margin-top:9px;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width:6px;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_draggerContainer { margin:10px 0;}
.sitemapBox_reN .mCSB_inside > .mCSB_container { margin-right:0;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_draggerRail { opacity:0;}
.sitemapBox_reN.off { animation:siteBoxAni_off 0.2s forwards ease-out;}
.sitemapBox_reN.on { animation:siteBoxAni_on 0.4s forwards ease-out;}


@keyframes siteBoxAni_on { 
    0% { 
        right:-1090px;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
    100% { 
        right:0;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
}
@keyframes siteBoxAni_off { 
    0% { 
        right:0;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
    100% { 
        right:-1090px;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
}

.sitemapBox .mCSB_scrollTools .mCSB_draggerContainer::before { display:block;position:absolute;top:0;left:50%;width:2px;height:100%;margin-left:-1px;background:rgba(220,220,220,0.4);content:'';}
.sitemapBox .mCSB_scrollTools .mCSB_draggerRail { background:rgba(220,220,220,0);}


/* 사이트맵 (페이지) */
.sitemapArea { position:relative;padding-top:30px;}
.sitemapArea .mCSB_scrollTools .mCSB_draggerRail { background:#fff;}
.sitemapArea.on { right:0;}
.sitemapArea .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapArea .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../img/common/sitemapArea_close.png) no-repeat center;text-indent:-999px;}
.sitemapArea .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapArea .map_gnb { overflow:hidden;margin-top:-20px;margin-bottom:30px;}
.sitemapArea .map_gnb>li { float:left;width:25%;margin-top:20px;}
.sitemapArea .map_gnb>li>a { display:inline-block;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:40px;font-weight:700;vertical-align:top;}
.sitemapArea .map_gnb>li>a.on { color:#1c75f7;}
.sitemapArea .map_nav { overflow-x:hidden;overflow-y:auto;}
.sitemapArea #sitemap { overflow:hidden;}
.sitemapArea #sitemap>li { width:100%;margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #e5e5e5;}
.sitemapArea #sitemap>li:last-child { margin:0;padding:0;border-bottom:none;}
.sitemapArea #sitemap .menuM { font-size:0;}
.sitemapArea #sitemap .menuM>li { display:inline-table;width:20%;vertical-align:top;}
.sitemapArea #sitemap .menuM>li>a { display:inline-block;margin-bottom:24px;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;line-height:22px;vertical-align:top;}
.sitemapArea #sitemap .menuM.menuStep>li>a { color:#146ff5;}
.sitemapArea #sitemap .menuS>li { position:relative;padding-left:10px;}
.sitemapArea #sitemap .menuS>li::before { display:block;overflow:hidden;position:absolute;top:7px;left:0;box-sizing:border-box;width:3px;height:3px;border-radius:50%;background:#000;content:'';}
.sitemapArea #sitemap .menuS>li>a { display:inline-block;margin-bottom:17px;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;line-height:19px;vertical-align:top;}
.sitemapArea #sitemap .menuSS { padding-bottom:6px;}
.sitemapArea #sitemap .menuSS>li { position:relative;margin-bottom:1px;padding-left:7px;}
.sitemapArea #sitemap .menuSS>li::before { display:block;overflow:hidden;position:absolute;top:9px;left:0;box-sizing:border-box;width:4px;height:1px;background:#929292;content:'';}
.sitemapArea #sitemap .menuSS>li>a { display:inline-block;margin-bottom:1px;color:#888;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:14px;line-height:16px;vertical-align:top;}
.sitemapArea #sitemap a:hover { text-decoration:underline;}
