@charset "utf-8";


/* 사이트맵 */
.sitemapBox .map_gnb>li:first-child {margin-left:0;}
.sitemapBox .map_gnb>li {width:auto !important;margin-left:70px;}
.sitemapBox .map_gnb>li:nth-child(7) {margin-left:0;}
.sitemapBox .map_gnb>li>a {font-size:25px !important;}


/*사이트맵*/
.sitemapBox { display:none;position:fixed;top:0;right:-1090px;z-index:1200;width:100%;max-width:1080px;height:100%;}
.sitemapBox.on { display:block;right:0;}
.sitemapBox .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapBox .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../img/common/sprite_component.png) no-repeat  -259px -63px;text-indent:-999px;}
.sitemapBox .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapBox .box_ct { overflow:hidden;box-sizing:border-box;padding:56px 70px;}
.sitemapBox .map_gnb { overflow:hidden;margin-top:-20px;margin-bottom:30px;}
.sitemapBox .map_gnb>li { float:left;width:20%;margin-top:20px;}
.sitemapBox .map_gnb>li>a { display:inline-block;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:40px;font-weight:700;transition:.2s all;vertical-align:top;}
.sitemapBox .map_gnb>li>a:hover { color:#1c75f7;}
.sitemapBox .map_gnb>li>a.on { color:#1c75f7;}
.sitemapBox .map_nav { overflow-x:hidden;overflow-y:auto;}
.sitemapBox #sitemap { overflow:hidden;}
.sitemapBox #sitemap>li { width:100%;margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #e5e5e5;}
.sitemapBox #sitemap>li:last-child { margin:0;padding:0;border-bottom:none;}
.sitemapBox #sitemap .menuM { font-size:0;}
.sitemapBox #sitemap .menuM>li { display:inline-table;width:20%;vertical-align:top;}
.sitemapBox #sitemap .menuM>li:nth-child(n+6) { margin-top:30px;}
.sitemapBox #sitemap .menuM>li>a { display:inline-block;margin-bottom:24px;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;line-height:22px;transition:.3s all;vertical-align:top;}
.sitemapBox #sitemap .menuM.menuStep>li>a { color:#146ff5;transition:.2s all;}
.sitemapBox #sitemap .menuM.menuStep>li>a:hover { font-weight:700;}
.sitemapBox #sitemap .menuS>li { position:relative;padding-left:10px;}
.sitemapBox #sitemap .menuS>li::before { display:block;overflow:hidden;position:absolute;top:7px;left:0;box-sizing:border-box;width:3px;height:3px;border-radius:50%;background:#000;content:'';}
.sitemapBox #sitemap .menuS>li>a { display:inline-block;margin-bottom:17px;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;line-height:19px;transition:.2s all;vertical-align:top;}
.sitemapBox #sitemap .menuS>li>a:hover { font-weight:700;}
.sitemapBox #sitemap .menuSS { padding-bottom:6px;}
.sitemapBox #sitemap .menuSS>li { position:relative;margin-bottom:1px;padding-left:7px;}
.sitemapBox #sitemap .menuSS>li::before { display:block;overflow:hidden;position:absolute;top:9px;left:0;box-sizing:border-box;width:4px;height:1px;background:#929292;content:'';}
.sitemapBox #sitemap .menuSS>li>a { display:inline-block;margin-bottom:1px;color:#888;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:14px;line-height:16px;transition:.2s all;vertical-align:top;}
.sitemapBox #sitemap .menuSS>li>a:hover { font-weight:700;}
.sitemapBox #sitemap a:hover { text-decoration:underline;}
.sitemapBox.off { animation:siteBoxAni_off 0.2s forwards ease-out;}
.sitemapBox.on { animation:siteBoxAni_on 0.4s forwards ease-out;}

.sitemapBox_reN { display:none;position:fixed;top:0;right:-910px;z-index:3000;width:100%;max-width:900px;height:100%;background:#fff;}
.sitemapBox_reN.on { display:block;right:0;}
.sitemapBox_reN .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapBox_reN .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../../dream/img/layout/reN/layout_sprite.png) no-repeat -304px -505px;}
.sitemapBox_reN .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapBox_reN .box_ct { overflow:hidden;box-sizing:border-box;}
.sitemapBox_reN .map_nav { max-height:calc(100vh - 100px);overflow-y:auto;}
.sitemapBox_reN .map_gnb { box-sizing:border-box;width:100%;height:80px;padding:0px 50px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);font-size:0;}
.sitemapBox_reN .map_gnb>li { display:inline-block;position:relative;box-sizing:border-box;height:100%;padding:25px 0;vertical-align:top;}
.sitemapBox_reN .map_gnb>li>a { display:block;position:relative;height:100%;color:rgba(255,255,255,0.6);font-size:22px;font-weight:500;transition:.2s all;}
.sitemapBox_reN .map_gnb>li>a.on:before { display:block;position:absolute;bottom: -25px;left: 50%;width: 0;height: 0;margin-left: -7.5px;border-width: 0 7.5px 8px 7.5px;border-style: solid;border-color: transparent transparent #ffffff transparent;content:'';}
.sitemapBox_reN .map_gnb>li>a:hover,
.sitemapBox_reN .map_gnb>li>a.on  { color:#fff;}
.sitemapBox_reN .map_gnb>li+li { margin-left:70px;}
.sitemapBox_reN #sitemap { position:relative;margin-top:-10px;}
.sitemapBox_reN #sitemap>li { position:relative;}
.sitemapBox_reN #sitemap>li>a { overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;clip:rect(0, 0, 0, 0);}
.sitemapBox_reN #sitemap .menuM>li { margin-top:10px;}
.sitemapBox_reN #sitemap .menuM>li>a { display:block;box-sizing:border-box;width:100%;padding:10px 50px;background:#eff6fd;color:#222;font-size:18px;font-weight:700;}
.sitemapBox_reN #sitemap .menuS { margin-top:-25px;padding:30px 50px;font-size:0;}
.sitemapBox_reN #sitemap .menuS>li { display:inline-block;width:25%;margin-top:25px;vertical-align:top;}
.sitemapBox_reN #sitemap .menuS>li>a { color:#222;font-size:17px;font-weight:500;transition:.2s all;}
.sitemapBox_reN #sitemap .menuS>li>a:hover { color:#4286eb;}
.sitemapBox_reN #sitemap .menuSS { margin-top:5px;}
.sitemapBox_reN #sitemap .menuSS>li>a { position:relative;padding-left:8px;color:#777;transition:.2s all;}
.sitemapBox_reN #sitemap .menuSS>li>a:hover { color:#4286eb;}
.sitemapBox_reN #sitemap .menuSS>li>a:before  { display:block;position:absolute;top:7px;left:0;width:2px;height:2px;background:#777;transition:.2s all;content:'';}
.sitemapBox_reN #sitemap .menuSS>li>a:hover:before  { background:#4286eb;}
.sitemapBox_reN #sitemap .menuSS>li+li { margin-top:9px;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width:6px;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_draggerContainer { margin:10px 0;}
.sitemapBox_reN .mCSB_inside > .mCSB_container { margin-right:0;}
.sitemapBox_reN .mCSB_scrollTools .mCSB_draggerRail { opacity:0;}
.sitemapBox_reN.off { animation:siteBoxAni_off 0.2s forwards ease-out;}
.sitemapBox_reN.on { animation:siteBoxAni_on 0.4s forwards ease-out;}
@keyframes siteBoxAni_on { 
    0% { 
        right:-1090px;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
    100% { 
        right:0;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
}
@keyframes siteBoxAni_off { 
    0% { 
        right:0;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
    100% { 
        right:-1090px;
        -webkit-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -khtml-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -moz-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -ms-transition:cubic-bezier(0.895, 0, 0.18, 1);
        -o-transition:cubic-bezier(0.895, 0, 0.18, 1);
        transition:cubic-bezier(0.895, 0, 0.18, 1);
    }
}

.sitemapBox .mCSB_scrollTools .mCSB_draggerContainer::before { display:block;position:absolute;top:0;left:50%;width:2px;height:100%;margin-left:-1px;background:rgba(220,220,220,0.4);content:'';}
.sitemapBox .mCSB_scrollTools .mCSB_draggerRail { background:rgba(220,220,220,0);}
/* 사이트맵 (페이지) */
.sitemapArea { position:relative;padding-top:30px;}
.sitemapArea .mCSB_scrollTools .mCSB_draggerRail { background:#fff;}
.sitemapArea.on { right:0;}
.sitemapArea .sitemap_wrap { position:relative;box-sizing:border-box;background:#fff;}
.sitemapArea .btn_close { display:block;overflow:hidden;position:absolute;top:25px;right:40px;width:29px;height:29px;background:url(../img/common/sitemapArea_close.png) no-repeat center;text-indent:-999px;}
.sitemapArea .box_tit { display:block;overflow:hidden;box-sizing:border-box;height:76px;padding:0 100px 0 40px;background:linear-gradient(90deg, #8568ce 30%, #427fd9 70%);color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:76px;font-weight:700;}
.sitemapArea .map_gnb { overflow:hidden;margin-top:-20px;margin-bottom:30px;}
.sitemapArea .map_gnb>li { float:left;width:25%;margin-top:20px;}
.sitemapArea .map_gnb>li>a { display:inline-block;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;line-height:40px;font-weight:700;vertical-align:top;}
.sitemapArea .map_gnb>li>a.on { color:#1c75f7;}
.sitemapArea .map_nav { overflow-x:hidden;overflow-y:auto;}
.sitemapArea #sitemap { overflow:hidden;}
.sitemapArea #sitemap>li { width:100%;margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #e5e5e5;}
.sitemapArea #sitemap>li:last-child { margin:0;padding:0;border-bottom:none;}
.sitemapArea #sitemap .menuM { font-size:0;}
.sitemapArea #sitemap .menuM>li { display:inline-table;width:20%;vertical-align:top;}
.sitemapArea #sitemap .menuM>li>a { display:inline-block;margin-bottom:24px;color:#000;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;line-height:22px;vertical-align:top;}
.sitemapArea #sitemap .menuM.menuStep>li>a { color:#146ff5;}
.sitemapArea #sitemap .menuS>li { position:relative;padding-left:10px;}
.sitemapArea #sitemap .menuS>li::before { display:block;overflow:hidden;position:absolute;top:7px;left:0;box-sizing:border-box;width:3px;height:3px;border-radius:50%;background:#000;content:'';}
.sitemapArea #sitemap .menuS>li>a { display:inline-block;margin-bottom:17px;color:#222;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;line-height:19px;vertical-align:top;}
.sitemapArea #sitemap .menuSS { padding-bottom:6px;}
.sitemapArea #sitemap .menuSS>li { position:relative;margin-bottom:1px;padding-left:7px;}
.sitemapArea #sitemap .menuSS>li::before { display:block;overflow:hidden;position:absolute;top:9px;left:0;box-sizing:border-box;width:4px;height:1px;background:#929292;content:'';}
.sitemapArea #sitemap .menuSS>li>a { display:inline-block;margin-bottom:1px;color:#888;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:14px;line-height:16px;vertical-align:top;}
.sitemapArea #sitemap a:hover { text-decoration:underline;}


@media all and (max-width:1041) {
    
    /* 사이트맵 */
    .sitemapArea { margin-top:0;}
    .sitemapArea .map_gnb { margin-top:-15px;margin-bottom:15px;}
    .sitemapArea .map_gnb>li { margin-top:15px;}
    .sitemapArea .map_gnb>li>a { font-size:22px;}
    .sitemapArea #sitemap .menuM>li:nth-child(n+5) { margin-top:15px;}
    .sitemapArea #sitemap .menuM>li>a { margin-bottom:15px;font-size:16px;}
    .sitemapArea #sitemap .menuS>li>a { margin-bottom:10px;font-size:14px;line-height:17px;}
    .sitemapArea #sitemap .menuSS>li>a { font-size:13px;line-height:20px;}

}

@media all and (max-width:768px){


    /* 사이트맵 */
    .sitemapArea .map_gnb>li { width:50%;margin-top:0;}
    .sitemapArea #sitemap .menuM>li { width:50%;}
    .sitemapArea #sitemap .menuM>li:nth-child(n+3) { margin-top:15px;}

}