@charset "utf-8";

/* _news_page_layout공통.html 파일 선언 순서대로  */

  .invest_concept .info_imgBox .imgArea {
    height: 320px;
    background: url(../type/common/img/common/trdFraudCase.png) no-repeat left 50% top 50%;
  }
  .btn_box.down {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: -2px;
    min-width: auto;
    height: 30px;
    margin-left: 10px;
    padding: 0 25px;
    border-radius: 20px;
    box-sizing: border-box;
    background: #1c83ee;
    background-color: #737f8b;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    letter-spacing: -1px;
    vertical-align: middle;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .btn_box.down:before {
    display: inline-block;
    width: 25px;
    height: 100%;
    background-image: url(../type/common/img/common/ico_down_white.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: "";
    vertical-align: top;
  }
  .btn_box.link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: -2px;
    min-width: auto;
    height: 30px;
    margin-left: 10px;
    padding: 0 25px;
    border-radius: 20px;
    box-sizing: border-box;
    background: #1c83ee;
    background-color: #fff;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    color: #222;
    text-align: left;
    letter-spacing: -1px;
    vertical-align: middle;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .btn_box.link:after {
    display: inline-block;
    width: 25px;
    height: 100%;
    background-image: url(../type/common/img/common/icon_link_hover_20.png);
    background-repeat: no-repeat;
    background-position: right center;
    content: "";
    vertical-align: top;
  }
  .list_lineBlack > li::before {
    height: 0px;
  }
  .list_lineBlack > li {
    font-size: 16px;
    line-height: 1.8em;
  }
  .list_dotBlack > li {
    font-size: 16px;
    line-height: 1.8em;
  }
  .info_imgBox .infoArea > strong {
    margin-bottom: 15px;
    line-height: 20px;
  }
